.primary-heading {
  font-family: Montserrat;
  font-size: 8rem;
  text-align: center;
  color: $color-white;
}
.secondary-heading {
  font-family: Montserrat;
  font-size: 6rem;
  //   text-align: center;
  color: $color-white;
}
